@{

    Layout = "_ErrorLayout";
}


 <div class="container">
        <div class="error-code">404</div>
        <div class="error-message">Oops! Page not found.</div>
        <div class="back-button"><a href="/">Go back to the homepage</a></div>
    </div>