@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_ErrorLayout";
}

    <div class="container">
        <div class="error-code">403</div>
        <div class="error-message">Oops! Forbidden.</div>
        <div class="back-button"><a href="/">Go back to the homepage</a></div>
    </div>