<div class="modal fade modal-photo" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="liveAlertPlaceholder"></div>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Insert Photo</h5>
            </div>
            <form method="post" enctype="multipart/form-data" action="UploadPhoto" id="uploadForm">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col modal-input ">
                            <input type="text" value="@Model.ProductId" id="productId" name="productId" hidden>

                            <input type="file" name="img" id="img" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-light btn-photo-submit">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>