<div class="modal fade modal-previewProduct " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="liveAlertPlaceholder"></div>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-contentPreview" id="modal-width">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Preview Product</h5>
            </div>

        </div>
    </div>
</div>
