

<div class="modal fade modal-product " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="liveAlertPlaceholder"></div>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="modal-width">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Insert Product</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Product Name</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="productName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Category</label>
                                </div>
                                <div class="col modal-input">
                                   <select class="form-select fw-lighter fs-6" style="font-size:8px" id="productCategory" name="productCategory" aria-label="Default select example">
                                        <option value="">Select Category</option>
                                        @foreach (var category in Model.CategoryClassDropdown)
                                        {
                                            <option value="@category.Value">@category.Text</option>
                                        }
                                    </select>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Price</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="productPrice">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Weight</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="productWeight">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Fabric</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="productFabric">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Color</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="productColor">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Description</label>
                                </div>
                                <div class="col modal-input">
                                    <textarea type="text" class="form-control" id="productDesc" style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-light btn-product-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
