<div class="modal fade modal-productSize" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="liveAlertPlaceholder"></div>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="modal-width">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Insert Product Size</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Size Name</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="sizeName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Category</label>
                                </div>
                                <div class="col modal-input">
                                    <select class="form-select fw-lighter fs-6" style="font-size:8px" id="category" name="category" aria-label="Default select example">
                                        
                                    </select>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Waist</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="waist">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Hips</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="hips">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">LengthLower</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="lengthLower">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Bust</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="bust">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">LengthUpper</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="lengthUpper">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">ArmHole</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="armHole">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">BottomSleeve</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="bottomSleeve">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">SleeveLength</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="sleeveLength">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Description</label>
                                </div>
                                <div class="col modal-input">
                                    <textarea type="text" class="form-control" id="desc" style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-light btn-productSize-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
