<div class="modal fade modal-update-productSize" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="alertUpdate"></div>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="modal-width">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Product Size</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Size Name</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="sizeNameU" readonly>
                                    <input type="text" class="form-control" id="sizeIdU" hidden>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Category</label>
                                </div>
                                <div class="col modal-input">
                                     <input type="text" class="form-control" id="categoryIdU" readonly>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Waist</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="waistU">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Hips</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="hipsU">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">LengthLower</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="lengthLowerU">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Bust</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="bustU">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">LengthUpper</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="lengthUpperU">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">ArmHole</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="armHoleU">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">BottomSleeve</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="bottomSleeveU">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">SleeveLength</label>
                                </div>
                                <div class="col modal-input ">
                                    <input type="text" class="form-control" id="sleeveLengthU">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-left">
                                    <label class="col col-form-label fs-6">Description</label>
                                </div>
                                <div class="col modal-input">
                                    <textarea type="text" class="form-control" id="descU" style="height: 100px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-light btn-productSizeUpdate-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
